.main-footer {
    background-color: #000000;
    color: #ffffff;
    padding-top: 54px;
    padding-bottom: 60px;
}

.footer-contacts__list {
    width: 165px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__copyright-text {
    text-align: center;
}