$orange: #fd712c;
$rose: #f31e79;
$gray: #777777;

@import "media.scss";

@import "header.scss";
@import "features.scss";
@import "confidence.scss";
@import "screenshots.scss";
@import "price.scss";
@import "video.scss";
@import "testimonials.scss";
@import "download.scss";
@import "footer.scss";
